<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>The Onion News Scraper</title>

    <!-- Bootstrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    {{{body}}}

    {{!-- jQuery JS --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="index.js"></script>
    <script src="saved.js"></script>
  </body>
</html>
