<div id="wrapper">
      <h1>Tad's Scraper</h1>
      <h2>Scrape The Onion</h2>
      <button type="button" id="scrape-articles-btn" class="btn btn-primary">Scrape articles</button>
      <button type="button" id="clear-articles-btn" class="btn btn-danger">Clear articles</button>
      <div id="notes"></div>
      <div id="articles"></div>
      
    </div>